.plant__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-section);
  margin-top: var(--spacing-small);

  position: relative;
  z-index: -1;
}

.plant--detail {
  width: 15rem;
}

.idea-growth {
  padding: var(--spacing-medium);
  border-radius: var(--corner-radius-large);
  background-color: var(--color-hover-growth);
}

.idea-growth__bg {
  padding: var(--width-border-wide);
  padding-bottom: 0;
  /*padding-bottom: var(--spacing-small);*/
  border-radius: calc(var(--corner-radius-large) + var(--width-border-wide));
}

.idea-growth__bg__hang {
  position: relative;
  z-index: -1;
  margin: calc(-1 * var(--width-border));
  padding: var(--width-border);
}

.idea-growth__bg__hang__svg--desktop {
  margin-top: -16%;
}

.idea-growth__bg__hang__svg--mobile {
  display: none;
  margin-top: -25%;
}

@media screen and (max-width: 36rem) {
  .idea-growth__bg__hang__svg--mobile {
    display: block;
  }

  .idea-growth__bg__hang__svg--desktop {
    display: none;
  }
}

.idea__result {
  margin-top: 0;
  margin-bottom: 0;
}

.idea__prompt {
  height: fit-content;
}

.idea__prompt__text {
  padding: var(--spacing-small);
  padding-top: var(--spacing-tiny);
  padding-bottom: var(--spacing-tiny);
  border-radius: var(--corner-radius-medium);
  width: fit-content;
  background-color: var(--color-hover);
  margin-bottom: var(--spacing-tiny);
  outline: var(--outline);
}

.idea__date {
  padding-left: var(--spacing-tiny);
  margin-top: var(--spacing-tiny);
  width: fit-content;
}

.idea__seed {
  height: 2rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--color-seed);
}
