/* COMPOSER */

.composer {
  width: 100%;
  height: auto;
  margin-bottom: var(--spacing-section);
  align-items: start;
}

.composer__input {
  padding-left: calc(var(--height-composer) * 0.5);
  padding-right: calc(var(--height-composer) * 0.5);
  border-radius: calc(var(--height-composer) * 0.5);
  color: var(--color-text-primary);
}

.composer__button {
  display: grid;
  align-items: center;
  justify-items: center;
  aspect-ratio: 1;
  width: var(--height-composer);
  padding: 0;
  border-radius: calc(var(--height-composer) * 0.5);
  background-color: var(--color-surface);
  border: none;
  outline: var(--outline);
}


/* STACK */

.stack {
  display: grid;
  gap: var(--spacing-small);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 48rem) {
  .stack {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 36rem) {
  .stack {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


/* ITEM */

.item {
  position: relative;
  padding: var(--spacing-small);
  border-radius: var(--corner-radius-medium);
  transition: var(--transition);
}

.item:hover {
  background-color: var(--color-hover);
}

.item:hover > .plant {
  width: 105%;
  margin: -2.5%;
  margin-top: -5%;
  margin-bottom: -1.6%;
}

.item__unread {
  position: absolute;
  right: var(--spacing-small);
  background-image: var(--gradient-unread);
  height: var(--size-unread-dot);
  aspect-ratio: 1;
  border-radius: 50%;
}

.item__name {
  overflow-wrap: break-word;
}

.item > :first-child {
  margin-top: 0;
}

.item > :last-child {
  margin-bottom: 0;
}
