.plant {
  width: 100%;
  height: fit-content;
  transition: var(--transition);
}

@keyframes growing {
  0%, 100% {
    r: 5px;
    color: hsl(from var(--color-seed) h s calc(l * 0.8));
  }
  50% {
    r: 8px;
    color: hsl(from var(--color-seed) h calc(s * 0.7) calc(l * 2));
  }
}

.plant__seed {
  color: var(--color-seed);
}

.plant__seed--growing {
  animation: var(--animation-sine);
  animation-name: growing;
  animation-delay: -0.39s; /* when r=6px */
}

.plant__leaves {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: -33%;
  z-index: 1;
}

.plant__pot {
  width: 100%;
  height: fit-content;
}

.plant__pot__front, .plant__pot__back {
  position: relative;
  display: block;
  width: 100%;
}

.plant__pot__front {
  z-index: 2;
}

.plant__pot__back {
  margin-bottom: -1px; /* to avoid occasional 1px gap */
  z-index: 0;
}
