.home-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: var(--spacing-edge);
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, transparent, var(--color-bg), var(--color-bg));
  z-index: 3;
}

.composer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-tiny);
}

.composer__input {
  width: calc(100% - 2 * var(--height-composer) - var(--spacing-tiny));
  height: var(--height-composer);
  padding-left: calc(var(--height-composer) * 0.5);
  padding-right: calc(var(--height-composer) * 0.5);
  border-radius: calc(var(--height-composer) * 0.5);
  border: none;
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  outline: var(--outline);
}

.composer__button {
  display: grid;
  align-items: center;
  justify-items: center;
  width: var(--height-composer);
  height: var(--height-composer);
  padding: 0;
  border-radius: calc(var(--height-composer) * 0.5);
  background-color: var(--color-surface);
  border: none;
  outline: var(--outline);
}

.composer__button:hover {
  background-color: var(--color-surface-dk);
}
