:root {
  /* color */

  --color-bg: #FFFFFF;
  --color-surface: #F5F3F0;
  --color-surface-dk: #F1EEEA;
  --color-border: rgba(128, 128, 128, 0.15);
  --color-primary: #629B00;
  --color-pot: #D97E00;

  --color-gradient-primary: linear-gradient(to bottom left, #83D500, #017D00);

  --color-text-primary: rgba(0, 0, 0, 0.8);
  --color-text-secondary: rgba(0, 0, 0, 0.6);

  /* dimen */

  --corner-radius-small: 0.5rem;
  --corner-radius-medium: 0.75rem;
  --corner-radius-large: 1.25rem;

  --spacing-diminutive: 0.25rem; /* 2dp */
  --spacing-tiny: 0.5rem; /* 4dp */
  --spacing-small: 1rem; /* 8dp */
  --spacing-medium: 2rem; /* 16dp */

  --spacing-p: var(--spacing-small);
  --spacing-section: var(--spacing-medium);
  --spacing-edge: var(--spacing-small);

  --size-logo-header: 2.1rem;
  --width-border: 0.1rem;
  --width-column: 46rem;
  --width-mobile: 36rem;
  --height-composer: 3rem;

  /* font */

  --font: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-size-h1: 2.4rem;
  --font-size-h2: 1.7rem;
  --font-size-h3: 1.3rem;
  --font-size-body: 1.125rem;
  --font-size-widget: 1.125rem;
  --font-size-caption: 1rem;

  /* composite */

  --transition: 0.1s ease-out;
  --outline: var(--width-border) solid var(--color-border);
}
